* {
    box-sizing: border-box;
}

html {
      -webkit-text-size-adjust: 100%;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

body{ 
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
} 

a  {
    color: #454545;
}

h4 {
    color: #333333;
}

.container-fluid {
    padding: 0;
} 


.btn {
    background-color: #462686;
    color: #fff;
    border-radius: 20px;
    padding: 0.5em 1em;
}

.fa-chevron-right {
    padding-left: 0.5em;
}

.navig {
    
    background-color: #fff;
}

.navbar-custom {
    background-color: #fff; 
}

.nav-item {
    color: #454545;
}

nav ul {
    font-family: SF Pro Display;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    color: #454545;
    

}
.nav li:last-child {
    background-color: #462686;
    color: #fff;
    border-radius: 20px;
}

.col-megamenu {
    color: #462686;
    display: flex;
}

.fas {
    margin-right: 1em;
}

.padding {
    padding: 2em;
}

.hero-title {
    color: #462686;
    margin-top: 3em;
    font-style: normal;
    font-weight: bold;
}

.hero-text {
    margin-top: 2em;
    margin-bottom: 1em;
}

@media all and (max-width: 576px) {
    
    .hero-title {
        font-size: 1.5rem;
        margin-top: 0;
    }

    .hero-text{
        margin-top: 1em;
    }

    
} 

.partners a {
    padding: 1em;
}


.sub-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.sub-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4em;
 
}

.sub-titles-text {
    font-size: 0.75em;
    margin-top: 1.5em;
    
   
}

@media all and (max-width: 576px) {
    .padding {
        padding: 1em;
    }

    .sub-titles {
        padding-left: 1em;
        margin-top: 1em;
        
    }

    .menu {
        max-width: 540px;
    }

    .partners a {
        padding: 0;
    }
}    

.shadow {
    box-shadow: 0px 15px 10px -15px #000;
}

.tools-text {
    text-align: center;
}

.tools a {
    padding: 1.5em;
    margin: 10em 0;
}

.menu {
    border: 2px solid #333333;
    border-radius: 10px;
    padding-left: 0;
    
}


.menu > .nav li:last-child {
    background-color: #fff;
   
}
.menu > .nav a:first-child {
    background-color: #462686;
    color: #fff;
}

@media all and (max-width: 576px) {

    .menu {
        max-width: 540px;
    }
}    

.contact {
    display: flex;
    justify-content: space-between;
}

.call-action {
    color: #fff;
    background-color: #7837F8;
   
}

footer {
    font-size: 0.5rem;
   color: #01001D 60%;
 
}

footer  h5 {
    font-size: 0.8rem;
    color:#150B28;

}


/*** Contact-page ***/
form {
    margin: 3em;
    background-color: #fff;
    font-size: 0.7rem;
    color: #333333;

}

form .btn {
    width: 100%;

}

.contact-wrap {
    padding: 6em 4em 4em 6em;
}

.contact-title {
    margin-bottom: 1.5em;
    color: #333333;

}

.contact-text {
    color: #454545 80%;
    font-size: 0.8em;

}
.address {
    margin-bottom: 2.5em;
}



.address p {
    color: #01001D 60%;
    font-size: 0.6rem;
    margin-bottom: 0.5em;
    

}

.address h6 {
    color: #455A64;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1.5em;

}




@media all and (min-width: 992px) {
    .navbar{ padding-top: 0; padding-bottom: 0; }
    .navbar .has-megamenu{position:static!important;}
    .navbar .megamenu{left:0; right:0; width:100%; padding:20px;  }
    .navbar .nav-link{ padding-top:1rem; padding-bottom:1rem;  }
}

